@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    header {
        background-position: 20% 0%;
        background-size: 290%;
    }

    @media (min-width: 1024px) {
        header {
            @apply bg-center bg-contain bg-no-repeat;

        }
    }

    .card-shadow {
        box-shadow: 0 0 7px 1px rgb(0 37 46 / 0.1), 0 2px 4px -2px rgb(0 37 46 / 0.1);
    }
}
